* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*LAYOUT*/
header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.959);
  /*position: fixed;*/
}

footer {
  height: 100px;
  background-color: blueviolet;
}

main {
  height: calc(100vh - 200px);
  background-color: #141922;
  display: flex;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: black;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*content header*/
.row {
  display: flex;
}

.space {
  justify-content: space-between;
}

.lodo {
  display: flex;
}

.logo-desktop {
  height: 40px;
  margin-top: 30px;
  margin-left: 80px;
}

.logo-mobile {
  display: none;
}

.btn {
  margin: 30px;
  width: 255px;
  border-radius: 100px;
  height: 45px;
  font-size: 15px;
  align-content: center;
  text-align: center;
  color: white;
  border: 3px solid white;
}


/*content sidebar*/
.icon-list {
  align-items: center;
  padding-top: 15px;
}

.icon-list ul {
  list-style-type: none;
  color: white;
}

.icon-list img {
  width: 40px;
  margin-right: 10px;
}

.playlist,
.icon-list {
  padding-left: 20px;
}

.playlist {
  font-size: 20px;
}

.playlist h4 {
  color: white;
  margin-bottom: 10px;
}

.playlist ul {
  list-style-type: none;
  color: gray
}

.playlist li {
  margin: 10px 0;
}

.playlist i {
  margin-right: 5px;
}

hr {
  background-color: gray;
  width: 255px;
}

.download-app {
  color: gray;
  margin-bottom: 10px;
}

.download-app img {
  width: 30px;
}

.profile img {
  width: 40px;
}

.profile {
  color: white;
  display: flex;
  margin-top: 10px;
}

.icon-profile {
  width: 20px;
}

/*content main
row{
  display: flex;
}*/

.content {
  width: calc(100vw - 300px);
  overflow-y: auto;
}

.recently {
  padding: 10px;
}

.row-flex {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.row-ul {
  justify-content: center;
}

.voci {
  margin-right: 10px;
  color: white;
}

.voci ul {
  list-style-type: none;
  display: flex;
  margin-top: 20px;
}

.voci li {
  margin-right: 15px;
}

.col-16,
.col-20 {
  margin-left: 20px;
  width: calc(100% / 6 - 20px);
  height: 150px;
  margin-bottom: 45px;
  gap: 20px;
}

.col-16 img {
  width: 100%;
  height: 205px;
  margin-bottom: 10px;
}

.col-20 img {
  width: 85%;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 90%;
}

.col-100 {
  margin-left: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.my {
  margin-top: 30px;
}

/*.recently-played,
.creato,
{
margin-top: 20px;
margin-left: 40px;
}*/

.create {
  margin-top: 120px;
  padding: 10px;
}

.artisti {
  margin-top: 50px;
  padding: 10px;
}

.bg-pink {
  background-color: pink;
}

.metal {
  width: 100%px;
  height: 150px;
}

h3,
h2,
h1 {
  color: white;
}

h1 {
  margin-bottom: 30px;
  margin-top: 20px;
}

p {
  color: white;
}

span {
  color: gray;
}