* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*LAYOUT*/
header {
  background-color: rgba(0, 0, 0, 0.959);
  display: flex;
  justify-content: flex-end;
}

footer {
  height: 100px;
  background-color: #282828;
}

main {
  height: calc(100vh - 100px);
  background-color: #141922;
  display: flex;
  overflow-y: auto;
}

.sidebar {
  width: 300px;
  height: 100%;
  /*overflow-y: auto;*/
  background-color: black;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*content header*/
.row {
  display: flex;
}

.space {
  justify-content: space-between;
}

.lodo {
  display: flex;
}

.logo-desktop {
  height: 40px;
  margin-top: 30px;
  margin-left: 80px;
}

.logo-mobile {
  display: none;
}

.btn {
  margin: 30px;
  width: 255px;
  border-radius: 100px;
  height: 45px;
  font-size: 15px;
  align-content: center;
  text-align: center;
  color: white;
  border: 3px solid white;
}


/*content sidebar*/
.icon-list {
  align-items: center;
  padding-top: 15px;
}

.before li:first-child::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 35px;
  background-color: #BBFF30;
}

.icon-list ul {
  list-style-type: none;
  color: grey;
}

.icon-list img {
  width: 40px;
  margin-right: 10px;
}

.playlist,
.icon-list {
  padding-left: 20px;
}

.playlist {
  font-size: 20px;
}

.playlist h4 {
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
}

/*HOVER*/
.playlist li:hover,
.before li:hover,
.download-app:hover,
.voci li:hover,
.heart:hover,
.folder:hover {
  color: white;
}

.btn:hover {
  font-size: 20px;
  width: 280px;
}

.circle-play:hover {
  font-size: 35px;
}

.front {
  display: block;
}

.front-img {
  display: none;
}

/*.front-img:hover {
  display: none;
}*/

.front-img:hover {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  object-fit: cover;
}

/*FINE HOVER*/

.play {
  width: 40px;
  color: white;
  justify-content: center;
  align-items: center;
}

.plus {
  font-size: 25px;
}

.playlist ul {
  list-style-type: none;
  color: gray
}

.playlist li {
  margin: 10px 0;
}

.playlist i {
  margin-right: 5px;
}

hr {
  background-color: gray;
  width: 255px;
}

.download-app {
  color: gray;
  margin-bottom: 10px;
}

.download-app img {
  width: 30px;
}

.profile img {
  width: 40px;
}

.profile {
  color: white;
  display: flex;
  margin-top: 10px;
}

.icon-profile {
  width: 20px;
}

/*content main
row{
  display: flex;
}*/

.content {
  width: calc(100vw - 300px);
  overflow-y: auto;
}

.recently {
  padding: 10px;
}

.row-flex {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.row-ul {
  justify-content: center;
}

.voci {
  margin-right: 10px;
  color: gray;
}

.voci ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
}

.voci li:first-child::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #BBFF30;
  margin-left: 25px;
  margin-top: 5px;
}

.voci li {
  margin-right: 15px;
}

.col-16,
.col-20 {
  margin-left: 20px;
  width: calc(100% / 6 - 20px);
  margin-bottom: 45px;
  gap: 20px;
}

.col-50 {
  margin-left: 20px;
  width: calc(100% / 6 - 20px);
  margin-bottom: 45px;
  gap: 20px;
}

/*.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  display: flex;
  align-items: center;
  opacity: 1;
}*/

.overlay img {
  opacity: 1;
}

.col-16 img,
.col-50 img {
  width: 100%;
  margin-bottom: 10px;
}

.col-20 img {
  width: 85%;
  margin-bottom: 10px;
  border-radius: 90%;
}

.col-100 {
  margin-left: 20px;
  width: 100%;
  margin-bottom: 15px;
}

.my {
  margin-top: 30px;
}

/*.recently-played,
.creato,
{
margin-top: 20px;
margin-left: 40px;
}*/

.create {
  padding: 10px;
}

.artisti {
  padding: 10px;
  margin-bottom: 20px;
}

.bg-pink {
  background-color: pink;
}

.metal {
  width: 100%px;
  height: 150px;
}

h3,
h2,
h1,
h4 {
  color: white;
}

h1 {
  margin-bottom: 30px;
  margin-top: 20px;
}

p {
  color: white;
}

span {
  color: gray;
}

/*footer*/

.first-section {
  width: 100%;
  display: flex;
  align-items: center;
}

.col-15 {
  width: 20%;
}

.col-70 {
  width: 70%;
}

.col-100 {
  width: 100%;
}

.col-15 img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 20px;
}

.border-black {
  border: 1px solid black;
}

.display {
  display: flex;
}

.text {
  margin-right: 80px;
}

.text h4 {
  margin-bottom: 5px;
}

.icons-footer {
  color: grey;
  gap: 5px;
}

.heart {
  margin-right: 5px;
}

/*player bar*/

.player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-50 {
  height: 50%;
}

.player-time {
  color: white;
}

.player-bar {
  width: 50%;
  background-color: grey;
  height: 5px;
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
}

.bar-icons {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 30px;
  margin-top: 10px;
}

.icons-player {
  color: white;
  display: flex;
  gap: 15px;
}

.player-bar-sm {
  width: 30%;
  background-color: grey;
  height: 5px;
  border-radius: 5px;
  margin: 0 10px;
  position: relative;
}

.last-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elapsed-time {
  position: absolute;
  top: 0;
  left: 0;
  background-color: silver;
  height: 100%;
  width: 25%;
  border-radius: 5px;
}

.elapsed-time-sm {
  position: absolute;
  top: 0;
  left: 0;
  background-color: silver;
  height: 100%;
  width: 25%;
  border-radius: 5px;
}

.controller-point {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  width: 15px;
  height: 15px;
  background-color: silver;
  border-radius: 50%;
  border: 1px solid black;
  transform: translateY(-50%);
}

.player:hover .elapsed-time {
  background-color: green;
}

.player-bar-sm:hover .elapsed-time-sm {
  background-color: green;
}

.player:hover .controller-point {
  display: block;
}

.player-bar-sm:hover .controller-point {
  display: block;
}



/*RESPONSIVE*/
@media screen and (max-width: 768px) {
  .col-16 {
    width: calc(100% / 4 - 10px)
  }
}